
/* Logo header */
#logo { padding: 10px 0 0 0; }

h1#site-title { line-height: 1.3; margin: 20px 0 0 0;}
h2#site-description{ margin: 0; padding: 0; }

/* popular post */
#popular-post ul li h2 { position: relative; width: 233px; font-size: 12px;}
#popular-post ul li h2 a{ font-size: 12px;}
#popular-post ul li { list-style: none; }

/* FB Like box */
.widget div.fb-like-box { display: none }

/* Sidebar multi col */
#sidebar ul.catleft , #sidebar ul.catright { width: 45%; }